---
const {
  textColor = "text-gray-400",
  background = "bg-gray-900",
  year = new Date().getFullYear(),
  brand = "Joss.dev"
} = Astro.props;
---

<footer class={`${background} ${textColor}  py-6 mt-12 text-center`}>
  <p>&copy; {year} {brand} Todos los derechos reservados.</p>
</footer>
